<form action="/action_page.php">
 <div class ="title">
     <h1><br>Login</h1></h1>
 </div>
  <div class="container center">
    <p><br><label>Email<label></br></p><input type="text" name="uname">
    <p><br>Password</br><input type="password" name="psw"></p>
    <button type="submit">Login</button>
    <p><label>New user?<%= link_to "Sign up now!", '#' %></label></p>
  </div>

</form>